/* ---------------------------------------------------
   Geral
--------------------------------------------------- */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* Fonte global */
body {
    width: 100vw;
    height: 100vh;
    overflow: hidden;
    font-family: "Segoe UI", Arial, sans-serif;

    /* Fundo padrão (pode ser trocado depois no menu/jogo via classe) */
    background-size: cover;
    background-position: center;
}

/* ---------------------------------------------------
   Backgrounds
--------------------------------------------------- */
body.default {
    background-image: url("img/background.jpg");
}

/* ---------------------------------------------------
   Menu inicial
--------------------------------------------------- */
@import url('https://fonts.googleapis.com/css2?family=Goldman:wght@400;700&display=swap'); /*fonte do título*/

.title {
    font-family: 'Goldman', sans-serif;
    color: #c9a0ff;
    font-size: 161px;
    font-weight: 400;

    position: absolute;
    left: 120px;
    top: 220px;

    line-height: 1;
    text-shadow: 4px 4px 10px rgba(0, 0, 0, 0.6);
}

.menu-buttons {
    position: absolute;
    top: 250px;
    right: 150px;

    display: flex;
    flex-direction: column;
    gap: 40px;
}

.button {
    text-decoration: none;
    background-color: #382A52;
    color: #E2E2E2;
    font-size: 40px;
    padding: 25px 60px;
    border-radius: 30px;

    box-shadow: 4px 4px 15px rgba(0, 0, 0, 0.6);
    transition: 0.3s;
}

.button:hover {
    transform: scale(1.05);
    background: rgba(80, 70, 120, 0.9);
}

.user-button {
    position: absolute;
    top: 30px;
    right: 40px;
}

.user-button img {
    width: 40px;
    height: 40px;
    cursor: pointer;
    transition: 0.3s;
}

/* ---------------------------------------------------
   GAME
--------------------------------------------------- */

/* HUD (placar) */
.hud {
    position: absolute;
    right: 30px;
    top: 30px;
    display: flex;
    gap: 30px;
}

.placar {
    padding: 12px 20px;
    border-radius: 12px;

    font-size: 20px;
    font-weight: bold;
    color: #dfffff;
    text-align: center;

    background: rgba(0, 255, 255, 0.08);
    border: 2px solid #b134ff;
    box-shadow: 0 0 15px #b134ff;
}

.placar span {
    font-size: 26px;
}

/* Container onde o texto vai subir */


/* Texto interno do teleprompter */
#texto {
    position: absolute;
    width: 90%;
    left: 5%;
    top: 100%; /* Começa fora do container */
}

/*limitar texto ao bloco*/
.container-texto {
    width: 800px;
    height: 500px;
    margin: auto;
    top: 280px;

    overflow: hidden; /* IMPORTANTE */
    position: relative;

    background: rgba(90, 0, 140,0.38);
    border: 2px solid #b134ff;
    box-shadow: 
        0 0 20px #c300ff,
        0 0 40px #b134ff,
        inset 0 0 25px rgba(255, 0, 255, 0.3);
    border-radius: 12px;
}

.texto-box {
    position: absolute; /* permite animar a subida */
    width: 100%;
    font-size: 20px;
    line-height: 28px;
    padding: 20px;
    white-space: pre-wrap; /* mantém as quebras de linha */
    color: antiquewhite;

}


/*menu flutuante - dificuldades */

/* background */
.menu-overlay {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0,0,0,0.75);
    backdrop-filter: blur(3px);
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 999; 
}

/* caixa central */
.menu-box {
    background: rgba(0, 255, 255, 0.08);
    padding: 25px 35px;
    border-radius: 15px;
    border: 2px solid #b134ff;
    box-shadow: 0 0 20px #b134ff;
    color: white;
    text-align: center;
    width: 380px;
}

/* título */
.menu-box h2 {
    margin-bottom: 20px;
    font-size: 28px;
    text-shadow: 0 0 10px #b134ff;
}

/* opções */
.opcoes label {
    display: block;
    margin: 10px 0;
    font-size: 20px;
    cursor: pointer;
    text-shadow: 0 0 8px #b134ff;
}

/* Play */
#btn-jogar {
    margin-top: 15px;
    padding: 10px 25px;
    font-size: 22px;
    border: none;
    border-radius: 10px;
    cursor: pointer;

    color: #001f29;
    background: #b134ff;
    box-shadow: 0 0 15px #b134ff;
    transition: 0.2s;
}

#btn-jogar:hover {
    transform: scale(1.05);
    box-shadow: 0 0 25px #b134ff;

/*fim do menu flutuante*/
}